{% extends 'base_accounts.html' %}
{% from 'components/macro_form_errors.html' import form_field_errors %}

{% block content %}
    <div class="wrapper">
    <section class="login-content">
         <div class="container h-100">
            <div class="row align-items-center justify-content-center h-100">
               <div class="col-md-5">
                  <div class="card p-3">
                     <div class="card-body">
                        <div class="auth-logo">
                           <img src="/resources/static/picture/weibo.png" class="img-fluid rounded-normal light-logo" alt="logo">
                        </div>
                        <h3 class="mb-3 font-weight-bold text-center">注册账号</h3>
<!--                        <p class="text-center text-secondary mb-4">Choose your social media to create account</p>-->

<!--                        注册表单-->
                        <form method="POST" action="{{ url_for('accounts.register') }}">
                           {{ form.csrf_token }}
                           <div class="row">
                              <div class="col-lg-12">
                                 <div class="form-group">
                                    {{ form.email.label }}
                                    {{ form.email }}
                                 </div>
                              </div>
                              {# 错误信息 #}
                              {{ form_field_errors(form.email.errors) }}
                              <div class="col-lg-12 mt-2">
                                 <div class="form-group">
                                    {{ form.nickname.label }}
                                    {{ form.nickname }}
                                 </div>
                              </div>
                              {# 错误信息 #}
                              {{ form_field_errors(form.nickname.errors) }}
                              <div class="col-lg-12 mt-2">
                                 <div class="form-group">
                                    {{ form.password.label }}
                                    {{ form.password }}
                                 </div>
                              </div>
                              {# 错误信息 #}
                              {{ form_field_errors(form.password.errors) }}

                              {#
                              <div class="col-lg-12 mt-2">
                                 <div class="form-group">
                                    {{ form.confirm_password.label }}
                                    {{ form.confirm_password }}
                                 </div>
                              </div>
                              {{ form_field_errors(form.confirm_password.errors) }}
                              #}
                           </div>
                            {{ form.submit }}
                           <div class="col-lg-12 mt-3">
                                <p class="mb-0 text-center">已有账号? <a href=" {{ url_for('accounts.login') }} ">登录</a></p>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      </div>
{% endblock %}
