<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Datum | CRM Admin Dashboard Template</title>

      <link rel="stylesheet" href="/resources/static/css/backend-plugin.min.css">
      <link rel="stylesheet" href="/resources/static/css/backend.css">  </head>
  <body class=" ">
    <!-- loader Start -->
    <div id="loading">
          <div id="loading-center">
          </div>
    </div>
    <!-- loader END -->
    {# 内容区域 #}
    {% block content %}

    {% endblock %}

    <!-- Backend Bundle JavaScript -->
    <script src="/resources/static/js/backend-bundle.min.js"></script>
    <!-- Chart Custom JavaScript -->
    <script src="/resources/static/js/customizer.js"></script>

    <script src="/resources/static/js/sidebar.js"></script>

    <!-- Flextree Javascript-->
    <script src="/resources/static/js/flex-tree.min.js"></script>
    <script src="/resources/static/js/tree.js"></script>

    <!-- Table Treeview JavaScript -->
    <script src="/resources/static/js/table-treeview.js"></script>

    <!-- SweetAlert JavaScript -->
    <script src="/resources/static/js/sweetalert.js"></script>

    <!-- Vectoe Map JavaScript -->
    <script src="/resources/static/js/vector-map-custom.js"></script>

    <!-- Chart Custom JavaScript -->
    <script src="/resources/static/js/chart-custom.js"></script>
    <script src="/resources/static/js/01.js"></script>
    <script src="/resources/static/js/02.js"></script>

    <!-- slider JavaScript -->
    <script src="/resources/static/js/slider.js"></script>

    <!-- Emoji picker -->
    <script src="/resources/static/js/index.js" type="module"></script>


    <!-- app JavaScript -->
    <script src="/resources/static/js/app.js"></script>  </body>
</html>