{% extends 'base_manage.html' %}

{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 mb-4 mt-1">
            <div class="d-flex flex-wrap justify-content-between align-items-center">
                <h4 class="font-weight-bold">舆情分析</h4>
            </div>
        </div>

        {# 热词情感趋势柱状图 #}
        <div class="col-lg-6 col-md-6">
             <div class="card card-block card-stretch card-height">
                <div class="card-header d-flex justify-content-between">
                   <div class="header-title">
                      <h5 class="card-title">热词情感统计图</h5>
                   </div>
                   <div class="card-header-toolbar d-flex align-items-center">
                      <div class="dropdown">
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-event">
                               <a class="dropdown-item" href="#">
                                     <svg class="svg-icon text-secondary" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path>
                                     </svg>
                                     Edit
                               </a>
                               <a class="dropdown-item" href="#">
                                     <svg class="svg-icon text-secondary" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
                                     </svg>
                                     View
                               </a>
                               <a class="dropdown-item" href="#">
                                     <svg class="svg-icon text-secondary" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                                     </svg>
                                     Delete
                               </a>
                            </div>
                         </div>
                   </div>

                </div>
                <div class="card-body p-0">
                   <div id="main_one" style="width: 100%; height: 350px;"></div>
                </div>
             </div>
          </div>

        {# 情感-评论点赞关系图图 #}
        <div class="col-lg-6 col-md-6">
         <div class="card card-block card-stretch card-height">
            <div class="card-header d-flex justify-content-between">
               <div class="header-title">
                  <h5 class="card-title">情感-评论点赞关系图</h5>
               </div>
               <div class="card-header-toolbar d-flex align-items-center">
                  <div class="dropdown">

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-event">
                           <a class="dropdown-item" href="#">
                                 <svg class="svg-icon text-secondary" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path>
                                 </svg>
                                 Edit
                           </a>
                           <a class="dropdown-item" href="#">
                                 <svg class="svg-icon text-secondary" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
                                 </svg>
                                 View
                           </a>
                           <a class="dropdown-item" href="#">
                                 <svg class="svg-icon text-secondary" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                                 </svg>
                                 Delete
                           </a>
                        </div>
                     </div>
               </div>
            </div>
            <div class="card-body p-0">
               <div id="main_two" style="width: 100%; height: 350px;"></div>
            </div>
         </div>
      </div>

        {# 情绪-地区折线图 #}
        <div class="col-lg-12 col-md-12">
             <div class="card card-block card-stretch card-height">
                <div class="card-header d-flex justify-content-between">
                   <div class="header-title">
                      <h5 class="card-title">情绪-地区折线图</h5>
                   </div>
                   <div class="card-header-toolbar d-flex align-items-center">
                      <div class="dropdown">
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-event">
                               <a class="dropdown-item" href="#">
                                     <svg class="svg-icon text-secondary" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path>
                                     </svg>
                                     Edit
                               </a>
                               <a class="dropdown-item" href="#">
                                     <svg class="svg-icon text-secondary" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
                                     </svg>
                                     View
                               </a>
                               <a class="dropdown-item" href="#">
                                     <svg class="svg-icon text-secondary" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                                     </svg>
                                     Delete
                               </a>
                            </div>
                         </div>
                   </div>
                </div>
                <div class="card-body p-0">
                   <div id="main_three" style="width: 100%; height: 500px;"></div>
                </div>
             </div>
        </div>

        {# 热词TOP10 #}
        <div class="col-lg-12 col-md-12">
         <div class="card card-block card-stretch card-height">
            <div class="card-header d-flex justify-content-between">
               <div class="header-title">
                  <h5 class="card-title">热词TOP10</h5>
               </div>
               <div class="card-header-toolbar d-flex align-items-center">
                  <div class="dropdown">

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-event">
                           <a class="dropdown-item" href="#">
                                 <svg class="svg-icon text-secondary" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path>
                                 </svg>
                                 Edit
                           </a>
                           <a class="dropdown-item" href="#">
                                 <svg class="svg-icon text-secondary" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
                                 </svg>
                                 View
                           </a>
                           <a class="dropdown-item" href="#">
                                 <svg class="svg-icon text-secondary" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                                 </svg>
                                 Delete
                           </a>
                        </div>
                     </div>
               </div>
            </div>
            <div class="card-body p-0">
               <div id="main_four" style="width: 100%; height: 400px;"></div>
            </div>
         </div>
      </div>



	</div>
</div>
{% endblock %}


{% block chart %}
<script>
        var chartDom = document.getElementById('main_one');
        var myChart = echarts.init(chartDom);
        var option;

        option = {
          tooltip: {
            trigger: 'axis'
          },
          toolbox: {
            show: true,
            feature: {
              dataView: { show: true, readOnly: false },
              magicType: { show: true, type: ['line', 'bar'] },
              restore: { show: true },
              saveAsImage: { show: true }
            }
          },
          calculable: true,
          xAxis: [
            {
              type: 'category',
              // prettier-ignore
              data: {{ comment_sentiments_label|tojson }}
            }
          ],
          yAxis: [
            {
              type: 'value'
            }
          ],
          series: [
            {
              name: '出现次数',
              type: 'bar',
              data: {{ comment_sentiments_value }},
              markPoint: {
                data: [
                  { type: 'max', name: 'Max' },
                  { type: 'min', name: 'Min' }
                ]
              },
              markLine: {
                data: [{ type: 'average', name: 'Avg' }]
              }
            }

          ]
        };

        option && myChart.setOption(option);



</script>

<script>
        var chartDom = document.getElementById('main_two');
        var myChart = echarts.init(chartDom);
        var option;

        option = {
          tooltip: {
            trigger: 'axis'
          },
          toolbox: {
            show: true,
            feature: {
              dataView: { show: true, readOnly: false },
              magicType: { show: true, type: ['line', 'bar'] },
              restore: { show: true },
              saveAsImage: { show: true }
            }
          },
          calculable: true,
          xAxis: [
            {
              type: 'category',
              // prettier-ignore
              data: {{ sentiment_like_label|tojson }}
            }
          ],
          yAxis: [
            {
              type: 'value'
            }
          ],
          series: [
            {
              name: '出现次数',
              type: 'bar',
              data: {{ sentiment_like_value }},
              markPoint: {
                data: [
                  { type: 'max', name: 'Max' },
                  { type: 'min', name: 'Min' }
                ]
              },
              markLine: {
                data: [{ type: 'average', name: 'Avg' }]
              }
            }

          ]
        };

        option && myChart.setOption(option);

</script>

<script>
    var chartDom = document.getElementById('main_three');
    var myChart = echarts.init(chartDom);
    var option;

    option = {
      title: {
        text: ''
      },
      tooltip: {
        trigger: 'axis'
      },
      legend: {
        data: ['Email', 'Union Ads', 'Video Ads', 'Direct', 'Search Engine']
      },
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      toolbox: {
        feature: {
          saveAsImage: {}
        }
      },
      xAxis: {
        type: 'category',
        boundaryGap: false,
        data: {{ citys_stats|tojson }}
      },
      yAxis: {
        type: 'value'
      },
      series: [
        {
          name: '正性',
          type: 'line',
          smooth: true,
          stack: '',
          data: {{ positive }}
        },
        {
          name: '中性',
          type: 'line',
          smooth: true,
          stack: '',
          data: {{ neutral }}
        },
        {
          name: '负面',
          type: 'line',
          smooth: true,
          stack: '',
          data: {{ negative }}
        }
      ]
    };

    option && myChart.setOption(option);

</script>

<script>
    var chartDom = document.getElementById('main_four');
    var myChart = echarts.init(chartDom);
    var option;

    option = {
      title: {
        text: ''
      },
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'shadow'
        }
      },
      legend: {},
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      xAxis: {
        type: 'value',
        boundaryGap: [0, 0.01]
      },
      yAxis: {
        type: 'category',
        data: {{ hotwords|tojson }}
      },
      series: [
        {
          name: '热词个数',
          type: 'bar',
          data: {{ hotwords_count }}
        }
      ]
    };

    option && myChart.setOption(option);

</script>
{% endblock %}